alias ag="ag --pager=less -i"

alias pacman='pacman --color=auto'
alias grep='grep --color=auto'
alias diff='diff --color=auto'
alias ls='ls --color=auto'
alias l='ls -lh'
alias la='ls -lah'

alias cp='cp --reflink=auto'
alias dd='dd status=progress'

alias mc='LANG=en_US.UTF-8 mc'

alias pm='udisksctl mount -b'
alias pum='udisksctl unmount -b'
alias pmount='udisksctl mount -b'
alias pumount='udisksctl unmount -b'

alias sys='sudo systemctl'
alias dmesg='dmesg -H -w -l info'
alias todo='task'

alias v='vim'

alias p='ps -o pid,pcpu,etime,cmd xf|less'
alias pa='ps -o user,pid,pcpu,etime,cmd axf|less'

alias w='sudo netctl-auto'
alias ww='sudo wifi-menu'
alias pi='while true; do ping 8.8.8.8; sleep 1; done'
alias mpi='mtr 8.8.8.8'
alias pi0='ping 192.168.0.1'
alias pi1='ping 192.168.1.1'

alias du1='du -d 1 -h|sort -h'
alias du2='du -d 2 -h|sort -h'
alias du3='du -d 3 -h|sort -h'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'
alias .........='cd ../../../../../../../..'
alias ..........='cd ../../../../../../../../..'

alias ga.='git add -A .'
alias ga='git add -A'
alias gb='git branch'
alias gc='git commit'
alias gca='git commit --amend'
alias gclean='git clean -f'
alias gclone='git clone'
alias gco.='git checkout .'
alias gco='git checkout'
alias gdiff='git diff HEAD'
alias gd='git diff HEAD'
alias gdu='git diff'
alias gds='git diff --staged'
alias gf='git fetch'
alias gff='git merge --ff-only'
alias gfff='git fetch && git merge --ff-only'
alias gg='git grep'
alias ggrep='git grep'
alias ggui="sh -c 'git gui&'"
alias gim='git imerge merge'
alias gir='git imerge rebase'
alias gic='git imerge continue'
alias gid='git imerge diagram'
alias gif='git imerge finish'
alias gl='git lg'
alias glr='git lgr'
alias gla='git lg --all'
alias glg='git lg --branches'
alias gls='git lg --stat'
alias glgr='git lgr --branches'
alias glgs='git lg --stat --branches'
alias gm='git merge'
alias gma='git merge --abort'
alias gmr='git mr'
alias gmw='git merge -Xignore-all-space'
alias gpull='git pull'
alias gpull='git pull'
alias gpush='git push'
alias gr='git rebase'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias grh='git reset --hard'
alias grs='git reset --soft'
alias gri='git rebase --interactive'
alias grl='git reflog'
alias grm='git rm'
alias gs='git status'
alias gsh='git show'
alias gst.='git status .'
alias gst.='git status .'
alias gst='git status --long'
alias gsl='git stash list'
alias gss='git stash save -u'
alias gsp='git stash pop --index'
alias gsu='git stash-unindexed -u'

alias gstu='git status -uno'
alias gti='git'
alias gunstage='git reset HEAD'
alias gwd='git wdiff'
alias gcd='git cdiff'
