# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/.zcompdump
/.ssh
/.histfile
/.Xauthority
/.dbus
/.mc
/.srecode
/.gconfd
/.cache
/.bash_history
/.lesshst
/.slime
/.gconf
/.links
/.semanticdb
/.local
/.mozilla
/graphics
/.slime-history.eld
/bsuir/info
/documents
/music
/video
/Dropbox
/.gqview
/.easytag
/.dropbox
/.pulse-cookie
/.pulse
/.fontconfig
/.centerim
/.gimp-2.6
/.Skype
/Documents/
/Downloads/
/.ido.last
/.mc/history
/.mc/panels.ini
/.macromedia
/quicklisp
/.fonts
/.conkeror.mozdev.org
/.lein
/.m2
/.java_history
/.jline-clojure.main.history
