[user]
	name = Ales Guzik
	email = ales.guzik@gmail.com
[giggle]
	main-window-maximized = false
	main-window-geometry = 958x1059+0+19
	file-view-vpane-position = 555
	main-window-view = HistoryView
	history-view-vpane-position = 541
[gui]
	spellingdictionary = none
[core]
	excludesfile = /home/alesguzik/.gitignore_global
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[alias]
  co = checkout
	me = log --author='Ales Guzik' --format=format:'%ci %s'
	sub = submodule update --init --recursive
	staged = diff --staged
	unstage = reset HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	st = status
[color]
	ui = auto
