[submodule ".emacs.d"]
	path = .emacs.d
	url = git@bitbucket.org:alesguzik/.emacs.d.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "p/fork/ruby-build"]
	path = p/fork/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "p/my/bash-voice-notes"]
	path = p/my/bash-voice-notes
	url = git@github.com:alesguzik/bash-voice-notes.git
[submodule "p/my/vkpd"]
	path = p/my/vkpd
	url = git@github.com:alesguzik/vkpd.git
[submodule "p/fork/git-extras"]
	path = p/fork/git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "p/fork/z"]
	path = p/fork/z
	url = https://github.com/rupa/z.git
[submodule "p/my/screenlog"]
	path = p/my/screenlog
	url = git@github.com:alesguzik/screenlog.git
