[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:alesguzik/.emacs.d.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "p/fork/ruby-build"]
	path = p/fork/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "p/my/bash-voice-notes"]
	path = p/my/bash-voice-notes
	url = git@github.com:alesguzik/bash-voice-notes.git
[submodule "p/my/vkpd"]
	path = p/my/vkpd
	url = git@github.com:alesguzik/vkpd.git
[submodule "p/fork/git-extras"]
	path = p/fork/git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "p/fork/z"]
	path = p/fork/z
	url = https://github.com/rupa/z.git
[submodule "p/my/aguzik.net"]
	path = p/my/aguzik.net
	url = git@github.com:alesguzik/alesguzik.github.com.git
[submodule "p/my/layout"]
	path = p/my/layout
	url = git@github.com:alesguzik/layout.git
[submodule "p/my/factor-work"]
	path = p/my/factor-work
	url = git@github.com:alesguzik/factor-work.git
[submodule "p/complete/cv"]
	path = p/complete/cv
	url = git@github.com:alesguzik/cv.git
