# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
/.zcompdump
/.ssh
/.histfile
/.Xauthority
/.dbus
/.srecode
/.gconfd
/.cache
/.bash_history
/.lesshst
/.slime
/.gconf
/.links
/.semanticdb
/.local
/.mozilla
/graphics
/.slime-history.eld
/bsuir/info
/documents
/music
/Music
/video
/Dropbox
/.gqview
/.easytag
/.dropbox
/.pulse-cookie
/.pulse
/.fontconfig
/.centerim
/.gimp-2.6
/.Skype
/Documents/
/Downloads/
/.ido.last
/.macromedia
/.fonts
/.conkeror.mozdev.org
/.lein
/.m2
/.java_history
/.jline-clojure.main.history
/.adobe/
/.claws-mail/
/.config/
/.gem/
/.gitk
/.irb_history
/.gstreamer-0.10/
/.mysql_history
/.recentf
/.recently-used
/.surf/
/.thumbnails/
/.xchat2/
/.xscreensaver-getimage.cache
/.viminfo
/bin/clfswm.core
/Mail
/News
/.rdebug_hist
/.pry_history
/.pki
/.gnupg
/.ICEauthority
/Pictures
/p/work/*
/.java
/.spamassassin
/mindterm
/.rightscale
/.cassandra.history
/.purple
/.VirtualBox
/.ncmpcpp
/.thunderbird
/.wine
/VirtualBox VMs
/.pentadactyl
/.warsow-0.6
/.wicd
/.opera
/.dbshell
/.gimp-2.8
/.stepmania-5.0
/.ncmpcpp
/.texlive
/.npm
/.davfs2/secrets
/.davfs2/cache
/.vim/.netrwhist
/.OGStudio
/sent
/.freetalk
/.netrc
/.subversion
/.vimgolf
/.frozen-bubble
/.lyrics
/Ydisk
/.gtk-bookmarks
/.icedtea
/.vagrant.d
/.vnc
/.audacity-data
/.elinks
/.k_history
/.gdb_history
/.chef
/.factor-vm_history
/.supermegadoc
/.qt
/.cpan
/.erlang.cookie
/.erlang_history
/.gnuplot_history
/.scala_history
/.sbt
/.xpra
/.fehbg
/.fuel_history
/.keystore
/.rnd
/.z
/.node-gyp
/.meteorite
/.npm
/.npm-packages
/.sqlite_history
/.scratchbox2
/narwhal
/.factor_history
/.steam
/.steampath
/.steampid
/p/fork/*
/.w3m
/screenlog
/.tddium
/.bitcoin
/.heroku
/.mpv
