[user]
	name = Ales Guzik
	email = me@aguzik.net
[gui]
	spellingdictionary = none
[core]
	excludesfile = ~/.gitignore_global
[branch "master"]
	rebase = true
[alias]
	new = !cd "${GIT_PREFIX-.}" && git init && git commit --allow-empty -m root-commit
	co = checkout
	st = status
	s = status
	me = log --author='Ales Guzik' --format=format:'%ci %s'
	sub = submodule update --init --recursive
	staged = diff --staged
	unstage = reset HEAD
	lg = log --graph --pretty=format:'%C(auto)%h%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>'
[color]
	ui = auto
[push]
	default = simple
[merge]
	defaultToUpstream = true
[magit]
	extension = wip-save
