[submodule ".emacs.d"]
	path = .emacs.d
	url = git@bitbucket.org:alesguzik/.emacs.d.git
[submodule "p/my/make-sch-rb"]
	path = p/my/make-sch-rb
	url = git@bitbucket.org:alesguzik/make-sch-rb
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "p/my/fork/ruby-build"]
	path = p/my/fork/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "p/my/bash-voice-notes"]
	path = p/my/bash-voice-notes
	url = git@github.com:alesguzik/bash-voice-notes.git
[submodule "p/my/vkpd"]
	path = p/my/vkpd
	url = git@github.com:alesguzik/vkpd.git
[submodule "p/my/fork/git-extras"]
	path = p/my/fork/git-extras
	url = https://github.com/visionmedia/git-extras.git
