Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs.Font: DejaVu Sans Mono-12

xpdf.initialZoom: page

XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 12
! lightsalmon4
! burlywood
XTerm*geometry: 110x35

XTerm*background: #221100
XTerm*foreground: white

XTerm*VT100.colorMode: on
XTerm*termName: xterm-256color
XTerm*utf8: 2
XTerm*VT100.eightBitInput:  true
XTerm*VT100.eightBitOutput:  true
XTerm*VT100.titeInhibit:  false
XTerm*VT100.underLine:  on
XTerm*highlightSelection:  true
XTerm*internalBorder: 1
XTerm*borderColor: YellowGreen
! violet
XTerm*loginShell: false
XTerm*multiClickTime: 250
XTerm*saveLines: 9999
XTerm*fastScroll: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*metaSendsEscape: true

XTerm*VT100.color0: black
XTerm*VT100.color1: red1
XTerm*VT100.color2: chartreuse4
XTerm*VT100.color3: gold
XTerm*VT100.color4: RoyalBlue4
XTerm*VT100.color5: VioletRed4
XTerm*VT100.color6: aquamarine3
XTerm*VT100.color7: gray90
XTerm*VT100.color8: gray30
XTerm*VT100.color9: red1
XTerm*VT100.color10: chartreuse2
XTerm*VT100.color11: yellow
XTerm*VT100.color12: RoyalBlue1
XTerm*VT100.color13: VioletRed1
XTerm*VT100.color14: aquamarine1
XTerm*VT100.color15: white
XTerm*VT100.colorBDMode: off
XTerm*VT100.cursorColor: LightBlue
XTerm*VT100.dynamicColors:  on

! #include ".xrdb.d/solarized.xrdb" !! https://github.com/altercation/ethanschoonover.com/blob/master/projects/solarized/xresources-colors-solarized/Xresources
! #include ".xrdb.d/zenburn.xrdb"
