XTerm*background: black
XTerm*foreground: white
XTerm*pointerColor: red
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow
XTerm*internalBorder: 0
XTerm*loginShell: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*saveLines: 1000
XTerm*multiClickTime: 250
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 10
