! Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
! Xft.hintstyle: hintfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

Emacs.Font: Input Mono-9

URxvt*depth: 32
! URxvt*background: [90]#221100
URxvt*background: [100]#222222
URxvt*foreground: white
URxvt*scrollBar: false
URxvt*font: xft:Input Mono:size=9
URxvt*loginShell: false
URxvt*geometry: 110x35
URxvt*saveLines: 9999

URxvt.launcher: firefox
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher
!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,matcher
!URxvt.url-select.launcher: firefox
!URxvt.url-select.underline: true
!URxvt.keysym.M-u:      perl:url-select:select_next
!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!URxvt.keysym.M-s:      perl:keyboard-select:search


*.color0: black
*.color1: red1
*.color2: chartreuse4
*.color3: gold
*.color4: RoyalBlue4
*.color5: VioletRed4
*.color6: aquamarine3
*.color7: gray90
*.color8: gray30
*.color9: red1
*.color10: chartreuse2
*.color11: yellow
*.color12: RoyalBlue1
*.color13: VioletRed1
*.color14: aquamarine1
*.color15: white
*.colorBDMode: off
*.colorULMode: off
*.cursorColor: LightBlue
*.dynamicColors:  on
